{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["airbnb", "prettier"],
  "rules": {
    "no-underscore-dangle": ["off"],
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ]
  }
}
